@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    color-scheme: light;
  }
  html.dark {
    color-scheme: dark;
  }
}

/* Estilos base personalizados si se requieren */

@layer base {
  html {
    color-scheme: light;
  }
  html.dark {
    color-scheme: dark;
  }
}

:root {
  --sb-thumb: #94a3b8;
  --sb-track: transparent;
  --sb-thumb-hover: #003366;
}

html.dark {
  --sb-thumb: #1e3a5f;
  --sb-track: #050f20;
  --sb-thumb-hover: #D4AF37;
}

/* =========================================
   SCROLLBAR INSTITUCIONAL (Global)
   ========================================= */

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--sb-thumb) var(--sb-track);
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--sb-track);
}

::-webkit-scrollbar-thumb {
  background: var(--sb-thumb);
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--sb-thumb-hover);
  border: 0;
  border-radius: 10px;
}

/* Clase de utilidad por si se requiere aislar */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}